@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========Common */
.input[disabled] {
    background-color: transparent;
}

/* For Navbar Active class */
.rmv_btm_padding {
    padding-bottom: 0 !important;
}

.main_navbar li a.active {
    border: 1px solid #0e8f6f;
    background-color: transparent;
    color: #8685ef;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]) {
    width: 100%;
    padding: 1rem;
    padding-right: 3rem;
    min-height: 0rem !important;
    /* min-height: 3.75rem; */
    transition: background-color 0.2s ease-in-out;
}

/* ------------------------- */

/* Signle Blogs page */
@media (min-width: 640px) {
    .single_blog_wrapper .breadcrumbs > ul > li + *:before {
        background-color: transparent;
        opacity: 1;
        height: 0.75rem;
        width: 0.75rem;
        border-top: 3px solid;
        border-right: 3px solid;
        margin-bottom: -5px;
    }
}
@media (max-width: 350px) {
    .single_blog_wrapper .breadcrumbs > ul > li + *:before {
        margin-left: 0.1rem;
        margin-right: 0.2rem;
    }
}

/* for use dashboard to (to make content bg transparent)*/
.drawer-toggle ~ .drawer-side > .drawer-overlay {
    background-color: transparent;
}

/* Profile Post Card */
.profile_post_card > h3 {
    border: 1px solid #fff;
    border-radius: 30px;
}

/* my profile table */
/* .myProfileTable tr {
    background: rgb(224, 34, 34);
} */

/* Blog's Multiple Tag Dropdown */
#addPostTagDropdown {
}
#addPostTagDropdown > .optionListContainer > .optionContainer {
    display: flex;
    justify-content: start;
    border-radius: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}
#addPostTagDropdown > .optionListContainer > .optionContainer > li {
    background-color: transparent;
    border: 1px solid #8685ef;
    padding: 3px 12px;
    border-radius: 15px;
    color: #8685ef;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    margin: 5px;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
}
#addPostTagDropdown > .optionListContainer > .optionContainer > li:hover {
    background-color: #8685ef;
    color: #fff;
    border-color: #8685ef;
}
#addPostTagDropdown
    > .optionListContainer
    > .optionContainer
    > li
    > input.checkbox {
    background-color: #fff;
    border: 1px solid #8685ef;
    margin-right: 4px;
    width: 12px;
    height: 12px;
}

#quill_form .ql-container {
    height: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
