@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Navbar Active class */
.rmv_btm_padding {
    padding-bottom: 0 !important;
}

.main_navbar li a.active {
    border: 1px solid #0e8f6f;
    background-color: transparent;
    color: #8685ef;
}
