@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Navbar Active class */
.rmv_btm_padding {
    padding-bottom: 0 !important;
}

.main_navbar li a.active {
    border: 1px solid #0e8f6f;
    background-color: transparent;
    color: #8685ef;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]) {
    width: 100%;
    padding: 1rem;
    padding-right: 3rem;
    min-height: 0rem !important;
    /* min-height: 3.75rem; */
    transition: background-color 0.2s ease-in-out;
}

/* ------------------------- */
